<ion-header [translucent]="true">
  <ion-toolbar *ngIf="qrs?.codes[itr]">
    <ion-buttons slot="start">
      <ion-button (click)="editing = !editing">
        <ion-icon [name]="(editing)?'close-outline':'create-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!editing" (click)="editing = true">
      <!-- FC {{"Tools"|translate}} -->
      <!-- <ion-img src="/assets/icon/a.png"></ion-img> -->
      {{qrs?.codes[itr].name}}
    </ion-title>
    <ion-input *ngIf="editing" [(ngModel)]="qrs.codes[itr].name"></ion-input>
    <ion-buttons slot="end" *ngIf="qrs.codes.length>1">
      <ion-button (click)="deleteList(itr)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #content (click)="shdwi.setFocus();">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FC {{"Tools"|translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="qrs.codes[itr].values.length == 0" class="ion-margin-horizontal ion-padding-horizontal">
    <strong>{{"home1"|translate}}</strong>
    <p>{{"home2"|translate}} <a target="_blank" rel="noopener noreferrer" href="https://atoz.amazon.work">AtoZ</a></p>
  </div>

  <!-- [elementType]="elementType"  -->
  <!-- errorCorrectionLevel = "L" -->
  
  <ion-input class="shi" #shdwi [(ngModel)]="shdwiText" autofocus="true" clear-on-edit="true" inputmode="none"></ion-input>

  <ion-row *ngIf="qrs.codes[itr] as code">
    <ion-col 
    *ngFor="let val of code.values; index as i;"
    size="6" size-sm="3" size-xl="2"
    >
      <ion-card 
      mode="ios" 
      class="ion-padding" 
      style="margin-bottom: 0px;"
      >
        <ngx-qrcode
        [value] = "val"
        (click)="enlarge(val)"
        ></ngx-qrcode>

          <ion-label (click)="copyText(val)">
            {{val}}
          </ion-label>
          
          <ion-buttons class="bottom-right">
            <ion-button size="small" (click)="aud(i, val)" >
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-card>
    </ion-col>
  </ion-row>

  <div style="height: 75px;"></div>
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">

    <ion-fab-button class="fab" #fab>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button (click)="save(qrs); fab">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="push(); fab">
        <!-- <ion-icon name="qr-code"></ion-icon> -->
        <!-- <ion-icon name="add" style="position: absolute; bottom: 1; right: 1;"></ion-icon> -->
        <span class="material-icons">
          post_add
        </span>
      </ion-fab-button>
      <ion-fab-button (click)="aud(); fab">
        <span class="material-icons">
          dashboard_customize
        </span>
      </ion-fab-button>
      <ion-fab-button (click)="scan(); fab">
        <span class="material-icons">
          qr_code_scanner
        </span>
      </ion-fab-button>
    </ion-fab-list>
  
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-tab-bar *ngIf="qrs?.codes?.length == 0">
    <ion-tab-button
    tab="0"
    selected="true"
    >
      <ion-icon name="qr-code"></ion-icon>
      <ion-label>
        {{qrs?.codes[0].name||'Qr'}}
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-toolbar *ngIf="qrs?.codes?.length != 0">
    <ion-segment scrollable>
        <ion-segment-button 
        class="ion-align-center"
        [value]="c" 
        (click)="switch(c)"
        *ngFor="let code of qrs.codes; index as c;" 
        >
        <!-- [selected]="itr==c" -->
          <ion-icon size="small" name="qr-code"></ion-icon>
          <ion-label>
            {{code?.name||'Qr'}}
          </ion-label>
        </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>





<div class="prerender">
  <span class="material-icons">
    qr_code_scanner
  </span>
  <span class="material-icons">
    post_add
  </span>
  <span class="material-icons">
    dashboard_customize
  </span>
</div>